server {
    listen       80;
    listen  [::]:80;
    server_name  localhost;

    root   /usr/share/nginx/html;

    location / {
        try_files $uri $uri/ /index.html;
        sub_filter_types *;
        sub_filter '{{API_URL}}' '$API_URL';
        sub_filter '{{CODE_EDITOR_URL}}' '$CODE_EDITOR_URL';
        sub_filter '{{COMPILER_URL}}' '$COMPILER_URL';
        sub_filter '{{LANGUAGE_SERVER_URL}}' '$LANGUAGE_SERVER_URL';
        sub_filter '{{SIMULATION_URL}}' '$SIMULATION_URL';
        sub_filter '{{VPSPU_URL}}' '$VPSPU_URL';
        sub_filter '{{USERNAME}}' '$USERNAME';
        sub_filter '{{PASSWORD}}' '$PASSWORD';
    }
}